{{#extends 'base'}}
{{#block "content"}}
    <h1>Your Faults</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Error ID</th>
      <th scope="col">Error Message</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>No Init</td>
      <td>npm install</td>
      <td>@dontforgetpls</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ded</td>
      <td>No life</td>
      <td>@worklifebalancepls</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">No express</td>
      <td>exprezz</td>
    </tr>
  </tbody>
</table>
{{/block}}
{{/extends}}