{{#extends 'base'}}

{{#block 'content'}}

<form method="POST">
    <div>
        <label>Title:</label>
        <input type="text" class="form-control" name="title" value="{{title}}"/>
    </div>
    <div>
        <label>Plot:</label>
        <input type="text" class="form-control" name="plot" value="{{plot}}"/>
    </div>
    <div>
        <input type="submit" value="update movie" class="btn btn-warning my-3"/>
    </div>
</form>

{{/block}}
{{/extends}}