{{#extends 'base'}}

{{#block 'content'}}
<form method ='POST'>
    <label>Description </label>
    <input type="text" name="description" class="form-control" placeholder="Enter the list of fodd seperated by commas"/>
    <label>Food </label>
    <input type="text" name="food" class="form-control" placeholder="Food"/>
    <label>Time </label>
    <input type="datetime-local" name="price" class="form-control" placeholder="price"/>
</form>



{{/block}}
{{/extends}}